:root {
    --width: 152px;
    --height: 56px;
    --flex-shrink: 0;
    --border-radius: 8px;
    --background: #FFF;
    --color: #333136;
    --font-family: Jost;
    --font-size: 15px;
    --font-style: normal;
    --font-weight: 500;
    --line-height: normal;
    --letter-spacing: 1px;
    --text-transform: uppercase;
    --border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
}

.header__container {
    max-width: 1111px;
    width: 100%;
    margin: 100px auto;
    display: flex;
}

.header__container .header-img {
    width: 196px;
    height: 24px;
    flex-shrink: 0;
}

.header__container .header-text {
    margin-left: 698px;
}

.header__container .header-text ul {
    list-style: none;
    display: flex;
    gap: 42px;
}

.header__container .header-text ul a {
    text-decoration: none;
    color: #333136;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.header__container .header-text ul a:hover {
    color: #E7816B;
    text-decoration: underline;
}

.hero {
    margin-top: -20px;
}

.hero__container {
    width: 1111px;
    height: 760px;
    margin: 0px auto;
    background-image: url('../imgs/hero-bg.png');
    background-size: 100%;
}

.hero__container h2 {
    padding-top: 150px;
    padding-left: 95px;
    color: #FFF;
    font-family: Jost;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
}

.hero__container p {
    color: #FFF;
    font-family: Jost;
    font-size: 20px;
    padding-left: 95px;
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.hero__container .btn {
    width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink);
    border-radius: var(--border-radius);
    background: var(--background);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
    border: var(--border);
    margin-left: 95px;
    margin-top: 60px;
    transition: all 0.5s;
}

.hero__container .btn:hover {
    background-color: wheat;
}

.main {
    margin-left: 150px;
}

.main__container {
    margin-top: 160px;
}

.top__side .main1 {
    cursor: pointer;
}

.top__side .main2 {
    cursor: pointer;
    margin-left: 50px;
    margin-top: -330px;
}

.top__side .main3 {
    margin-left: 595px;
    margin-top: -330px;
    cursor: pointer;
}

.top__side .rasm1 h2 {
    color: #FFF;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
    margin-top: -330px;
    margin-left: 115px;
}

.top__side .rasm1 p {
    color: #FFF;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 175px;
}

.top__side .rasm1 p span {
    color: #E7816B;

}

.top__side .rasm2 {
    margin-left: 550px;
    margin-top: -110px;
}

.top__side .rasm2 h2 {
    color: #FFF;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
    margin-top: -220px;
    margin-left: 160px;
}

.top__side .rasm2 p {
    color: #FFF;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 215px;
}

.top__side .rasm2 p span {
    color: #E7816B;
}

.top__side .rasm3 {
    margin-top: 330px;
    margin-left: 5px;
}

.top__side .rasm3 h2 {
    color: #FFF;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
    margin-top: -240px;
    margin-left: 670px;
}

.top__side .rasm3 p {
    color: #FFF;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 760px;
}

.top__side .rasm3 p span {
    color: #E7816B;
}

.section {
    margin-left: 150px;
}

.section__container {
    margin-top: 160px;
}

.section__container .box .scoll1 {
    margin-left: 75px;
    cursor: pointer;
}

.section__container .box .scoll2 {
    margin-left: 178px;
    cursor: pointer;
}

.section__container .box .scoll3 {
    margin-left: 178px;
    cursor: pointer;
}

.section__container .text h2 {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    margin-top: 48px;
    margin-left: -930px;
}

.section__container .text p {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: -925px;
}

.section__container .text h3 {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    margin-top: -155px;
    margin-left: -170px;
}

.section__container .text h4 {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: -180px;
}

.section__container .text h5 {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    margin-left: 600px;
    margin-top: -150px;
}

.section__container .text h6 {
    color: #333136;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 590px;
}

.cards {
    margin-top: 150px;
}

.cards__container {
    width: 1111px;
    height: 346px;
    flex-shrink: 0;
    background-image: url('../imgs/cards-bg.png');
    background-size: 100%;
}

.cards__container h2 {
    color: #FFF;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding: 72px 95px;
}

.cards__container p {
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: -60px;
    margin-left: 95px;
    /* 162.5% */
}

.cards__container .btn1 {
    width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink);
    border-radius: var(--border-radius);
    background: var(--background);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
    border: var(--border);
    margin-left: 963px;
}

.project {
    max-width: 1400px;
    width: 100%;
    height: 292px;
    position: relative;
    margin: 0 auto;

}

.project-container {
    background-image: url('../imgs/bacraund.png');
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    align-items: center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    width: 1111px;
    height: 292px;
    position: absolute;
    top: 70px;
    left: 100px;
    z-index: 3;


}

.project-container .project__info {
    width: 459px;
    margin-top: 72px;
    margin-left: 95px;
}

.project-container .project__info h4 {
    width: 268px;
    height: 98px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

}

.project-container .project__info p {
    width: 459px;
    color: rgba(255, 255, 255, 1);
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    margin-bottom: 45px;
}

.project-container .btnN1 {
    width: var(--width);
    height: var(--height);
    flex-shrink: var(--flex-shrink);
    border-radius: var(--border-radius);
    background: var(--background);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
    border: var(--border);
    position: absolute;
    left: 880px;
    transition: all 0.5s;
}

.project-container .btnN1:hover {
    background-color: wheat;
}

.design-footer {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-image: url("../imgs/Rectangle.png");
    background-color: #1D1C1E;
    margin-bottom: 100px;
    height: 393px;
    margin-top: -74px;
    position: relative;
}

.footer-container-nav {
    width: 1111px;
    height: 177px;
    padding-top: 210px;
    margin-left: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    gap: 16px;
    align-items: center;

}

.footer-logo h6 {
    color: #FFF;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    gap: 42px;
}

.footer-nav {
    margin-right: 40px;
}

.footer-nav ul li {
    list-style: none;
}

.footer-nav a {
    color: rgba(255, 255, 255, 1);
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all 0.5s;
}

.footer-nav a:hover {
    text-decoration: underline;
    color: #E7816B;
}

.line {
    margin-top: -40px;
    width: 1111px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    margin-top: 46px;
}

.footer-info {
    width: 1111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 72px;
    margin-top: 31px;

}

.footer-info__item {
    max-width: 350px;
    width: 50%;
    height: 78px;
    opacity: 0.5;
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
}

.footer-info__item span {
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
}

.footer-info .fonts-icon {

    margin-top: -20px;


}

.footer-info .fonts-icon img {
    margin-left: 5px;
    cursor: pointer;
}

@media screen and (max-width:1440) {
    .header__container {
        max-width: 1000px;
    }

    .header__container .header-text {
        margin-left: 300px;
    }

    .main__container .top__side {
        width: 40%;
    }
    .main__container .top__side .rasm1
    {
        width: 20%;
    }
}